:root {
  --color-Green-500: hsl(158, 36%, 37%);
  --color-Green-700: hsl(158, 42%, 18%);
  --color-Black: hsl(212, 21%, 14%);
  --color-Grey: hsl(228, 12%, 48%);
  --color-Cream: hsl(30, 38%, 92%);
  --color-White: hsl(0, 0%, 100%);
  --size-paragraoh: 14px;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  background-color: var(--color-Cream);
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 0.5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-White);
  border-radius: 12px;
  overflow: hidden;
}

.img-mobile {
  /* border: 4px solid black; */
  object-fit: cover;
  height: 300px;
  object-position: 0 -3rem;
}
.hero-section__intro {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.img-desktop {
  display: none;
}

@media screen and (min-width: 470px) {
  .container {
    max-width: 450px;
  }
}
